.snakemake/
age_sex/ADPSBQ/*
!age_sex/ADPSBQ/config.yml
age_sex/GTEx_Analysis_2017-06-05_v8_Annotations_SubjectPhenotypesDS.txt
etc/cis_nominal/*
!etc/cis_nominal/get_pairs_from_nominal.py
!etc/cis_nominal/run_tensorqtl.py
!etc/cis_nominal/Snakefile
etc/stability_exon_intron_test/*
!etc/stability_exon_intron_test/exons_introns_from_gtf.test.sh
etc/*.gz
focus/data
Geuvadis/*
!Geuvadis/config.yml
!Geuvadis/setup.sh
Geuvadis_Pheast/*
!Geuvadis_Pheast/config.yml
!Geuvadis_Pheast/setup.sh
Geuvadis_TWAS/data
GTEx/afc/*
!GTEx/afc/scripts
!GTEx/afc/Snakefile
GTEx/geno
GTEx/old*
GTEx/pheast
GTEx/phenos
GTEx/ref
GTEx/slow/*
!GTEx/slow/run_tensorqtl.py
GTEx/twas/*
!GTEx/twas/scripts
GTEx/samples_tissues.txt
old
pheast
phenos
repo/*
!repo/check_repo.py
!repo/file_tree.txt
!repo/README.md
test_data
twas/*
!twas/scripts
!twas/Snakefile
slurm-*.out
